#include "AboutDialogRes.h"
#include "../../GuiCommon.rc"
#include "../../MyVersion.h"

#define xc 220
#define yc 210

#define y 93
#define y_fork_note 111
#define y_fork_version 132
#define y_fork_date 145
#define y_fork_copyright 158
#define y_fork_repo 171
#define y_fork_info 188

IDI_LOGO ICON "../../UI/FileManager/7zipLogo.ico"

#ifndef SS_REALSIZEIMAGE
#define SS_REALSIZEIMAGE 0x800
#endif

IDD_ABOUT DIALOG 0, 0, xs, ys  MY_MODAL_DIALOG_STYLE  MY_FONT
CAPTION "About 7-Zip"
{
  DEFPUSHBUTTON  "OK", IDOK, bx1, by, bxs, bys
  PUSHBUTTON  "www.7-zip.org", IDB_ABOUT_HOMEPAGE, bx2, by, bxs, bys
  ICON   IDI_LOGO, -1, m, m, 32, 32, SS_REALSIZEIMAGE
  LTEXT  "", IDT_ABOUT_VERSION, m, 54, xc, 8
  LTEXT  "", IDT_ABOUT_DATE, m, 67, xc, 8
  LTEXT  MY_COPYRIGHT, -1, m, 80, xc, 8
  LTEXT  "7-Zip is free software", IDT_ABOUT_INFO, m, y, xc, (by - y - 1)
  LTEXT  "This version refers to a fork, customized to meet the needs of the developer below.", IDT_ABOUT_FORK_NOTE, m, y_fork_note, xc, 18
  LTEXT  "", IDT_ABOUT_FORK_VERSION, m, y_fork_version, xc, 8
  LTEXT  "", IDT_ABOUT_FORK_DATE, m, y_fork_date, xc, 8
  LTEXT  "", IDT_ABOUT_FORK_COPYRIGHT, m, y_fork_copyright, xc, 8
  CONTROL "Repository: https://github.com/fernandoncidade/7zip", IDB_ABOUT_FORK_REPO, "Button", BS_PUSHBUTTON | BS_LEFT | WS_TABSTOP, m, y_fork_repo, xc, 14
  LTEXT  "7-Zip is free software", IDT_ABOUT_FORK_INFO, m, y_fork_info, xc, (by - y_fork_info - 1)
}
